#quote-item {
	font-size: 1.5em;
	font-weight: bold;
}

#chart-area {
	width:400px;
	height:50px;
}

#quote-logo {
	z-index:50;
	font-size:0.9em;
}

/*weather related css --SB
*/
#map_canvas1{
overflow: auto;
}

#weatherIcon{
	float:left;
}

#logo-text {
	color: #9fcc25; 
	margin-left: 4px; 
	vertical-align: middle;
	font-size:1em;
}

.panel.panel-primary { 

border-color: gold;
}
.panel-primary>.panel-heading {
background-color: gold;
color: purple;
border-color: gold;


}
.panel-default>.panel-heading {
background-color: gold;
color: purple;
border-color: gold;
}


.panel-title{
font-size: 24px;
}

h3 {
font-size: 16px;
}


