#quote-item {
	font-size: 1.5em;
	font-weight: bold;
}

#chart-area {
	width:400px;
	height:50px;
}

#quote-logo {
	z-index:50;
	font-size:0.9em;
}

#logo-text {
	color: #9fcc25; 
	margin-left: 4px; 
	vertical-align: middle;
	font-size:1em;
}


.view {
    height: 100%;
}


.panel.panel-primary { 

border-color: gold;
}
.panel-primary>.panel-heading {
background-color: gold;
color: purple;
border-color: gold;

}
.panel-default>.panel-heading {
background-color: gold;
color: purple;
border-color: gold;
}

/* Css for indextemp.html aka login page */
#sign-in-header {
text-align: center;
font-size: 2.5em;
padding-bottom:20px;
}

.login-container {
 padding: 20px;
 max-width: 250em;
 max-height: 500em;
 width: 100%; 
 border-radius: 10px;
 background-color: gold;
 margin: 0 auto;
 overflow: hidden;

}

#submit-container {
padding-top:25px;
}

#signin-body {
	background-color: purple;
}
